.nav-cont {
  color:white;
  font-weight:bold;
}

.name {
  font-size:1.5rem;
}

.nav-elem {
  font-size: 2rem;
  color:white;
}

.hover-elem {
  cursor:pointer;
  color:white;
}

.hover-elem:hover {
  cursor:pointer;
  color:#48D74D;
}

* {
  text-decoration:none;
}
