.background {
  background-color: #0A1930;
  height:100%;
}

.intro-text {
  color:white;
  font-size:2rem;
  font-weight:bold;
}


.say-hello-cont {
  width:100%;
}

.say-hello {
  color:#4F8EED;
  padding-left:0px;
}

.intro-name-cont {
  display: inline;
}
.intro-name {
  color:#48D74D;
}

.intro-programming-cont {
  display:inline
}



.intro-programming {
  color: #4F8EED;
  padding-left:0px;
}

.intro-cont {
  width:80%;
  margin-top:5%;
}

.about-me {
  margin-top:3%;
  width:100%;
}

.about-me-header {
  color:#48D74D;
  font-weight:bold;
  font-size:2.5rem;
  margin-top:3%;
  text-align:center;
  width:100%;
}

.projects-header {
  color:#4F8EED;
  font-weight:bold;
  font-size:2.5rem;
  margin-top:3%;
  text-align:center;
  width:100%;
}

.skills-header {
  color:#48D74D;
}

.about-me-bio {
  width:50%;
  margin-left:25%;
  margin-right:25%;
  color:white;
  font-size:1.5rem;
}


