.goal-cont {
  color:white;
  font-size:1.3rem;
  width:90%;
  margin-left:5%;
  margin-right:5%;
  text-align:left;
}

.goal-img {
  width:auto;
  height:30px;
  margin-left:47%;
  margin-right:47%;
}
